.log-css {
    position: relative;
    width: 110px;
    height: 110px;
    left: 40px;
  }
  .log-html {
    position: relative;
    width: 90px;
    height: 90px;
    left: 50px;
    margin-top: 8px;
  }
  .javascript-log {
    position: relative;
    width: 100px;
    height: 100px;
    left: 40px;
    margin-top: 0px;
  }
  .bootstrap-log {
    position: relative;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 5px;
  }
  
.sql-log {
    position: relative;
    width: 90px;
    height: 90px;
    left: 60px;
    top: 13px;
  }
  .img-thumbnail {
    width: 100%;
  }
  
.react-log {
    position: relative;
    width: 90px;
    height: 90px;
    left: 50px;
    top: 5prgb 255, 10, 10;
  }
  
.log-equipo {
    position: relative;
    width: 100px;
    height: 100px;
    left: 50px;
    margin-top: 10px;
  }
  .liderazgo-log {
    position: relative;
    width: 80px;
    height: 80px;
    left: 60px;
    margin-top: 25px;
  }
  .adaptabilidad-log {
    position: relative;
    width: 90px;
    height: 90px;
    left: 50px;
    margin-top: 15px;
  }
  .linkedin-im {
    width: 30px;
    height: 30px;
  }
  .github-img {
    width: 30px;
    height: 30px;
  }
  .seo-img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
  }

  .miyo{
    position: relative;
    top: 40px;
  }
  .border{
    border-radius: 10px;
  }