@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@media (min-width: 280px) {
  .card {
    position: relative;
    left: 28px;
    margin-top: 9px;
  }
  .card-2 {
    width: 13rem;
  }
  .img-ext {
    position: relative;
    left: 70px;
  }
}
@media (min-width: 320px) {
  .card {
    position: relative;
    left: 45px;
    margin-top: 9px;
  }
  .card {
    width: 12rem;
  }
}
@media (min-width: 360px) {
  .card {
    position: relative;
    left: 65px;
    margin-top: 9px;
  }
  .img-ext {
    position: relative;
    left: 100px;
  }
}
@media (min-width: 375px) {
  .card {
    position: relative;
    left: 80px;
    margin-top: 9px;
  }
}
@media (min-width: 390px) {
  .card {
    position: relative;
    left: 95px;
    margin-top: 10px;
  }
  .card-2 {
    width: 16rem;
    position: relative;
    left: 50px;
  }
}
@media (min-width: 412px) {
  .img-ext {
    position: relative;
    left: 130px;
  }
  .card {
    position: relative;
    left: 100px;
    margin-top: 10px;
  }
  .card-2 {
    width: 16rem;
    position: relative;
    left: 70px;
  }
  .footer-con {
    position: relative;
    top: 320px;
  }
}
@media (min-width: 540px) {
  .img-ext {
    position: relative;
    left: 190px;
  }
  .card {
    position: relative;
    left: 170px;
    margin-top: 9px;
  }
}
@media (min-width: 768px) {
  .img-home, .img-ext {
    transition: 0.5s;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .img-home:hover, .img-ext:hover {
    transform: scale(1.2);
  }
  .img-ext {
    width: 128px;
    padding: 10px;
  }
  .card {
    box-shadow: 10px 20px 10px rgb(156, 151, 151);
    transition: 0.5s;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card:hover {
    transform: scale(1.2);
  }
  .img-ext {
    position: relative;
    left: 270px;
  }
  .footer {
    position: relative;
    top: 590px;
  }
  .cont {
    position: relative;
    top: 250px;
    font-size: 25px;
  }
  .card {
    position: relative;
    left: -20px;
    margin-top: 10px;
    top: 150px;
  }
  .h2-habilidades {
    position: relative;
    top: 150px;
  }
}
@media (min-width: 912px) {
  .img-ext {
    position: relative;
    left: 70px;
  }
  .footer {
    position: relative;
    top: 775px;
  }
  .footer-main {
    position: relative;
    top: 100px;
  }
  .footer-tecno {
    position: relative;
    top: 250px;
  }
  .footer-serv {
    position: relative;
    top: 250px;
  }
  .card {
    position: relative;
    left: 20px;
    margin-top: 10px;
    top: 300px;
  }
  .card2 {
    position: relative;
    left: 50px;
    margin-top: 10px;
    top: 250px;
  }
  .h2-habilidades {
    position: relative;
    top: 150px;
  }
}
@media (min-width: 1024px) {
  .cont {
    position: relative;
    top: 150px;
    font-size: 25px;
  }
  .card {
    position: relative;
    left: 20px;
    margin-top: 10px;
    top: 200px;
  }
  .h1-titel {
    position: relative;
    top: 70px;
  }
  .card2 {
    position: relative;
    left: 60px;
    margin-top: 10px;
    top: 150px;
  }
  .footer {
    position: relative;
    top: 320px;
  }
}
@media (min-width: 1200px) {
  .card-2 {
    width: 23rem;
  }
  .h1-titel {
    position: relative;
    top: 70px;
  }
}
.log-css {
  position: relative;
  width: 110px;
  height: 110px;
  left: 40px;
}

.log-html {
  position: relative;
  width: 90px;
  height: 90px;
  left: 50px;
  margin-top: 8px;
}

.javascript-log {
  position: relative;
  width: 100px;
  height: 100px;
  left: 40px;
  margin-top: 0px;
}

.bootstrap-log {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50px;
  top: 5px;
}

.sql-log {
  position: relative;
  width: 90px;
  height: 90px;
  left: 60px;
  top: 13px;
}

.img-thumbnail {
  width: 100%;
}

.react-log {
  position: relative;
  width: 90px;
  height: 90px;
  left: 50px;
  top: 5prgb 255, 10, 10;
}

.log-equipo {
  position: relative;
  width: 100px;
  height: 100px;
  left: 50px;
  margin-top: 10px;
}

.liderazgo-log {
  position: relative;
  width: 80px;
  height: 80px;
  left: 60px;
  margin-top: 25px;
}

.adaptabilidad-log {
  position: relative;
  width: 90px;
  height: 90px;
  left: 50px;
  margin-top: 15px;
}

.linkedin-im {
  width: 30px;
  height: 30px;
}

.github-img {
  width: 30px;
  height: 30px;
}

.seo-img {
  width: 70px;
  height: 70px;
  margin-top: 30px;
}

.miyo {
  position: relative;
  top: 40px;
}

.html-h2 {
  position: relative;
  left: 60px;
  font-family: sans-serif;
  font-size: 15px;
}

.sql-h2 {
  position: relative;
  left: 60px;
  font-size: 19px;
}

.h2-habilidades {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: white;
  font-size: 40px;
  position: relative;
}

.h2-react {
  position: relative;
  left: 50px;
  font-size: 20px;
}

.h2-equipo {
  font-size: 18px;
  position: relative;
  left: 10px;
}

.h2-liderazgo {
  position: relative;
  left: 42px;
  font-family: sans-serif;
  font-size: 20px;
  top: 10px;
}

.adaptabilidad-h2 {
  position: relative;
  left: 40px;
  font-family: sans-serif;
  font-size: 15px;
  top: 10px;
}

.h1-titel {
  text-align: center;
  text-decoration: underline;
  color: white;
  justify-content: center;
}

.css-h2 {
  position: relative;
  left: 65px;
  font-family: sans-serif;
  font-size: 15px;
}

.card-javascript {
  position: relative;
  left: 65px;
  font-family: sans-serif;
  font-size: 20px;
}

.h2-cont {
  font-size: 30px;
  color: white;
  position: relative;
  left: 150px;
}

.card-javascript {
  position: relative;
  left: 40px;
  font-family: sans-serif;
}

.card-bootstrap {
  position: relative;
  left: 40px;
  font-size: 20px;
}

.card {
  box-shadow: 10px 20px 10px rgb(156, 151, 151);
}

.correo {
  color: rgb(0, 246, 29);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.contact {
  background-image: url(../img/32191.jpg);
  color: white;
}
.contact .form {
  background-color: red;
  width: 350px;
  position: relative;
  left: 10px;
  top: 70px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
}
.contact .footer-cont {
  position: relative;
  top: 155px;
}
@media (min-width: 280px) {
  .contact .form {
    background-color: red;
    width: 250px;
    position: relative;
    left: 15px;
    top: 5px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 71px;
  }
}
@media (min-width: 360px) {
  .contact .form {
    background-color: red;
    width: 330px;
    position: relative;
    left: 15px;
    top: 120px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 158px;
  }
}
@media (min-width: 390px) {
  .contact .form {
    background-color: red;
    width: 350px;
    position: relative;
    left: 20px;
    top: 120px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 270px;
  }
}
@media (min-width: 412px) {
  .contact .form {
    background-color: red;
    width: 350px;
    position: relative;
    left: 30px;
    top: 120px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 333px;
  }
}
@media (min-width: 414px) {
  .contact .form {
    background-color: red;
    width: 350px;
    position: relative;
    left: 35px;
    top: 120px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 315px;
  }
}
@media (min-width: 540px) {
  .contact .form {
    background-color: red;
    width: 350px;
    position: relative;
    left: 100px;
    top: 120px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 150px;
  }
}
@media (min-width: 768px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 170px;
    top: 190px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 442px;
  }
}
@media (min-width: 820px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 170px;
    top: 190px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 598px;
  }
}
@media (min-width: 912px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 210px;
    top: 270px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 787px;
  }
}
@media (min-width: 1024px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 260px;
    top: 10px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 19px;
  }
}
@media (min-width: 1280px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 350px;
    top: 150px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 220px;
  }
}
@media (min-width: 1440px) {
  .contact .form {
    background-color: red;
    width: 500px;
    position: relative;
    left: 450px;
    top: 70px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .contact .footer-cont {
    position: relative;
    top: 167px;
  }
}

.foto-1 {
  width: 400px;
  height: 400px;
}

.foto-2 {
  width: 400px;
  height: 400px;
}

.foto-2 {
  width: 500px;
  height: 400px;
}

* {
  padding: 0px;
  margin: 0;
}

/*agrego una img al body */
.bodySec {
  background-color: rgb(94, 91, 91);
}

.index-body {
  background-color: rgb(208, 206, 206);
}

.inst-link {
  position: relative;
  left: 10px;
  bottom: 2px;
}

.linkedin-a {
  position: relative;
  left: 20px;
  bottom: 2px;
}

.github-a {
  position: relative;
  left: 30px;
  bottom: 2px;
}

.p-footer {
  color: white;
}/*# sourceMappingURL=stylos.css.map */